<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dhpcs.liquidity">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".activities.AddPlayersActivity"
            android:label="@string/title_activity_add_players"
            android:launchMode="standard"
            android:parentActivityName=".activities.MonopolyGameActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dhpcs.liquidity.activities.MonopolyGameActivity" />
        </activity>
        <activity
            android:name=".activities.GamesActivity"
            android:label="@string/title_activity_games"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.JoinGameActivity"
            android:label="@string/title_activity_join_game"
            android:launchMode="standard"
            android:parentActivityName=".activities.GamesActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dhpcs.liquidity.activities.GamesActivity" />
        </activity>
        <activity
            android:name=".activities.MonopolyGameActivity"
            android:label="@string/title_activity_monopoly_game"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.GamesActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dhpcs.liquidity.activities.GamesActivity" />
        </activity>
        <activity
            android:name=".activities.ReceiveIdentityActivity"
            android:label="@string/title_activity_receive_identity"
            android:launchMode="standard"
            android:parentActivityName=".activities.MonopolyGameActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dhpcs.liquidity.activities.MonopolyGameActivity" />
        </activity>
        <activity
            android:name=".activities.TransferIdentityActivity"
            android:label="@string/title_activity_transfer_identity"
            android:launchMode="standard"
            android:parentActivityName=".activities.MonopolyGameActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dhpcs.liquidity.activities.MonopolyGameActivity" />
        </activity>

        <provider
            android:name=".provider.LiquidityProvider"
            android:authorities="com.dhpcs.liquidity.provider"
            android:exported="false" />

    </application>

</manifest>
