<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dhpcs.liquidity">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LiquidityApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/activity_about_title"
            android:launchMode="standard"
            android:parentActivityName=".activity.GamesActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.GamesActivity" />
        </activity>
        <activity
            android:name=".activity.AddPlayersActivity"
            android:label="@string/activity_add_players_title"
            android:launchMode="standard"
            android:parentActivityName=".activity.BoardGameActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.BoardGameActivity" />
        </activity>
        <activity
            android:name=".activity.BoardGameActivity"
            android:label="@string/activity_board_game_title"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.GamesActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dhpcs.liquidity.activity.GamesActivity" />
        </activity>
        <activity
            android:name=".activity.GamesActivity"
            android:label="@string/activity_games_title"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.JoinGameActivity"
            android:label="@string/activity_join_game_title"
            android:launchMode="standard"
            android:parentActivityName=".activity.GamesActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dhpcs.liquidity.activity.GamesActivity" />
        </activity>
        <activity
            android:name=".activity.PreferencesActivity"
            android:label="@string/activity_preferences_title"
            android:launchMode="standard"
            android:parentActivityName=".activity.GamesActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.GamesActivity" />
        </activity>
        <activity
            android:name=".activity.ReceiveIdentityActivity"
            android:label="@string/activity_receive_identity_title"
            android:launchMode="standard"
            android:parentActivityName=".activity.BoardGameActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.BoardGameActivity" />
        </activity>
        <activity
            android:name=".activity.TransferIdentityActivity"
            android:label="@string/activity_transfer_identity_title"
            android:launchMode="standard"
            android:parentActivityName=".activity.BoardGameActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.BoardGameActivity" />
        </activity>

        <provider
            android:name=".provider.LiquidityProvider"
            android:authorities="com.dhpcs.liquidity.provider"
            android:exported="false" />

    </application>

</manifest>
